
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<style>
    h1{background-color:silver;border:1px solid black;text-align:center;}
    body{background-color:silver;padding:17px;}
    input{padding:4px;}
</style>
<h1>Register</h1>
<body>

<form method="get" action="task_1">
<label><b>Username:</b></label>
<input style="margin-left:58px;" type="text" name="username" placeholder="Enter your username"><br>
<label><b>Password:</b></label>
<input style="margin-left:62px;" type="password" name="password" placeholder="Enter your password"><br>
<label><b>Confirm Password:</b></label>
<input type="password" name="cpassword" placeholder="Confirm your password"><br>
<input type="submit" style="padding:9px;border-radius:9px;background-color:white;">
</form>
</body>
</html>